{% extends 'mezza/base.html' %}

{% block content %}
	<center>

		<h1>Update  Event: {{event}}</h1>
	
		<br/><br/>
		{% if user.is_authenticated and user.is_venue %}

			<div class="form-group">
				<form action="" method=POST>
					{% csrf_token %}

					{{ form.as_p }} 

					<br/>
					<input type="submit" value="Update Event"
					class="btn btn-success">
				</form>
			</div>
			
			
			<br/><br/>

		{% else %}
			<h1>Sorry you must be logged in to view this page</h1>

			<br/>
			<strong><a class="nav-link" href="{% url 'login' %}"> Login Here</a> </strong>

		{% endif %}

  

	</center>
{% endblock %}